body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
}

.word {
  color: #5e5ce6;
  font-size: 4rem;
  transition: all .5s ease-in;
  margin: 0 5px;
  transform: translateY(3.8rem);
  opacity: 0;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

